* {
    box-sizing: border-box;
}

:root {
    /*Fonts*/
    --font-family: "PT Sans", sans-serif;
    --second-family: "Bebas Neue", sans-serif;


    /*Colors*/
    --blue: #3877ee;
    --purple: #5d5fef;
    --pink: #EF5DA8;
    --darkblue: #42567a;
    --grey: #F4F5F9;
    --dark: #c7cdd9;

    /*Swiper*/
    /*--swiper-pagination-bottom: auto;*/
    /*--swiper-pagination-top: 8px;*/
}

#root {
    /*overflow: hidden;*/
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    background-color: var(--grey);
}

.swiper-pagination {

}
