:root {
    /*Fonts*/
    --font-family: "PT Sans", sans-serif;
    --second-family: "Bebas Neue", sans-serif;

    /*Colors*/
    --blue: #3877ee;
    --purple: #5d5fef;
    --pink: #EF5DA8;
    --darkblue: #42567a;
    --grey: #F4F5F9;
}

#root {
    /*overflow: hidden;*/
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    background-color: var(--grey);
}

.circle-dot {
    width: 5px;
    height: 5px;
    background-color: #EF5DA8;
}

.circle {
    position: relative;
    width: 200px; /* Размер круга */
    height: 200px; /* Размер круга */
    border-radius: 50%; /* Превращаем прямоугольник в круг */
    border: 2px solid black; /* Обводка для круга */
}

.point {
    position: absolute;
    width: 10px; /* Размер точки */
    height: 10px; /* Размер точки */
    background-color: red; /* Цвет точки */
    border-radius: 50%; /* Превращаем прямоугольник в круг */
    transform: translate(-50%, -50%); /* Центрируем точку */
}
